main {
    display: flex;
    justify-content: center;
}

/* right side of the cart page*/
.right {
    background-color: #F5F5F5;
}

span {
    display: flex;
    justify-content: space-between;
}

.cost {
    font-weight: bold;
}

p {
    font-family: Arial, Helvetica, sans-serif ;
}

button {
    background-color: red;
    border: none;
    padding: 0.5rem;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}