body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* upper part including social media and where to download */
.promotions {
    background-color: #E3DBDB;
    display: flex;
    justify-content: space-around;

    padding: 1rem;
}

.social-media {
    display: flex;
    gap: 2rem;
    width: 50%;
    font-size: 20px;
    align-items: center;
}

.social-media img{
    width: 1.5vw;
    height: 3vh;
}

.download {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.download img {
    width: 9rem;
    height: 3rem;
}

/* main text left */
.main {
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: black;
    color: white;

    display: flex;
    justify-content: space-around;

    font-size: 12px;

}
footer {
    margin: 0;
}

.support {
    display: flex;
}


.comm {
    display: flex;
    justify-content: space-between;

    border: 1px solid gray;
    padding: 11px;
}

.comm h3 {
    margin: 0;
}

.comm p {
    color: gray;
    margin: 0;
}

.comm-right {
    display: flex;
    align-items: center;
}

a:link {
    color: gray;
}
a:visited {
    color: gray;
}

.change-region {
    display: flex;
    justify-content: space-around;
    color: gray;
    border: 1px solid gray;
    width: 60%;
}

.change-region img {
    width: 10%;
}

#faq {
    
}

/* main text right */

.support li {
    color: gray;
    list-style: none;
    margin-bottom: 1rem; 
    
    font-size: 12px;
}




/* payment bottom section */
.payment {
    background-color: black;
    color: gray;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    font-size: 8px;
    border-top: 1px solid gray;

}
.payment img {
    width: 20%;
}