header {
    display: flex;
    justify-content: space-between;
}

/* for the right side of the header */
ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

li a {
    text-decoration: none;
    font-family: Helvetica;
    margin: 1rem;
    color: black;
}

li a:hover {
    color: red;
}

#Pop-Mart-Logo {
    height: 1.5em;
    width: 6rem;
}

/* for the left side of the header */
.svgs {
    width: 1.5rem;
    height: 1.5rem;
    margin: 1rem
}

div {
    display: flex;
    flex-direction: row;
}

p {
    font-family: Helvetica;
}

input {
    /*Magnify glass in the input box) */
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: right center;


    border-radius: 4rem;
    border-color: #aaa;
    width: 23%;
    height: 15%;
    padding: 12px 20px;
    margin: 8px 0;
}