/* font they use: DinPro-Medium */

#heading-home {
    display: flex;
    align-items: center;
}

section { /* the products within the banner */
    display: flex;
    justify-content: center;
}

p {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    max-width: 35ch;
}

.products ul {
    display: flex;
    flex-direction: column
}

/* price for the bell and and price on the items */
.cost-and-bell {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline; /*ask about aligning image */
}

.cost-and-bell p {
    color: red;
}

.bell {
    width: 2rem;
    height: 2rem;
}

/*images of the products*/
.product-image {
    width: 20rem;
    height: 20rem;
}

.product-image:hover {
    transform:scale(1.1);
}

/*Arrow buttons for the products to look for more*/
.arrow-button{ 
    width: 2rem;
    height: 2rem;
}

.arrow-button:hover {
    cursor: pointer;
}

button {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    border: none;
}

/* new arrivals and more link*/
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: red;
}

main ul a {
    color: black;
}