body {
    /* just filler font */
    font-family: Helvetica; 
    margin: 0;
}

main {
    display: flex;
    justify-content: space-around;
}

.heading {
    background-color: #F4F4F4;
    text-align: center;
    font-weight: bold;
    padding: 15px;
}
.heading a {
    color: black;
    font-size: 10px;
}
.heading p {
    margin: 0;
    font-size: 12px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    margin: 1vw;
    font-size: 12px;
    font-weight: 600;
}

.separator {
    color: gray;
    font-weight: bold;
    font-size: 35px;
}

ul {
    list-style-type: none;
}

#separator {
    color: red;
}


/* image preview */
.imageCarousel {
    display: flex;
    flex-direction: row;


}

.imagePreview {
    display: flex;
    flex-direction: column;
    width: 10%;

}

.imagePreview img {
    width: 100%;
    margin: 5px;
}

/* minus and plus */
.minus , .plus {
    border: solid gray;
    color: gray;
    padding: 3px 10px 3px 10px;
}

#max {
    color: gray;
    margin: 5px;
}



/* buttons */
.buttons {
    display: flex;
    gap: 1rem;
}

#favorite-button {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 600;
    width: 20%;
}

#favorite-button img {
    width: 20%;
}

#add-to-bag {
    background-color: black;
    color: white;
    font-weight: 600;
    padding: 1rem;
}