body {
    /* just filler font */
    font-family: Helvetica; 
    margin: 0;
}

.heading {
    background-color: #F4F4F4;
    text-align: center;
    font-weight: bold;
    padding: 15px;
}
.heading a {
    color: black;
    font-size: 10px;
}
.heading p {
    margin: 0;
    font-size: 12px;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 1vw;
}

ul {
    list-style-type: none;
}